[View in Colaboratory](https://colab.research.google.com/github/ditiansm2015/ML-May-28/blob/master/assignment_14.ipynb)

In [0]:
import pandas as pd

# Question 1
# Working on Weather-Play Dataset

###p(Yes|Sunny ) = (p(Yes)*p(Sunny|Yes ) )/p(Sunny)
###p(Yes|Sunny ) = (0.64*0.33 )/0.36
###p(Yes|Sunny ) = 0.6

###  Question 1 coding

In [0]:
# Importing Dataset
df=pd.read_csv("https://raw.githubusercontent.com/ditiansm2015/ML-May-28/master/assignment_14.csv")

In [548]:
# Showing dataset

df

     weather play
0      Sunny   No
1   Overcast  Yes
2      Rainy  Yes
3      Sunny  Yes
4      Sunny  Yes
5   Overcast  Yes
6      Rainy   No
7      Rainy   No
8      Sunny  Yes
9      Rainy  Yes
10     Sunny   No
11  Overcast  Yes
12  Overcast  Yes
13     Rainy   No

In [0]:
# We can use get_dummies() to convert strings into numeric values

#dummy=pd.get_dummies(df['weather'])
#df=pd.concat([df,dummy],axis=1)

In [550]:
# Using Label Encoding to convert strings into numeric values

df['play_encoded'] = label_encoder.fit_transform(df['play'])
df['weather_encoded'] = label_encoder.fit_transform(df['weather'])
df

     weather play  play_encoded  weather_encoded
0      Sunny   No             0                2
1   Overcast  Yes             1                0
2      Rainy  Yes             1                1
3      Sunny  Yes             1                2
4      Sunny  Yes             1                2
5   Overcast  Yes             1                0
6      Rainy   No             0                1
7      Rainy   No             0                1
8      Sunny  Yes             1                2
9      Rainy  Yes             1                1
10     Sunny   No             0                2
11  Overcast  Yes             1                0
12  Overcast  Yes             1                0
13     Rainy   No             0                1

In [0]:
# Selecting Features and Labels

y= df['play_encoded']
X = df.drop(['weather','play','play_encoded'],axis=1)

In [552]:
print("X shape", X.shape)
print("Label shape", y.shape)

X shape (14, 1)
Label shape (14,)

In [0]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [554]:
x_train.shape

(9, 1)

In [0]:
from sklearn.naive_bayes import MultinomialNB

In [556]:
x_test.shape

(5, 1)

## Multinomial NB

In [0]:
multinomial_nb=MultinomialNB()

In [558]:
multinomial_nb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
predict_op=multinomial_nb.predict(x_test)

In [560]:
multinomial_nb.score(x_test,y_test)

0.8

## Confusion Matrix

In [0]:
from sklearn.metrics import confusion_matrix

In [562]:
con_matrix=confusion_matrix(y_test,predict_op)
print(con_matrix)

[[0 1]
 [0 4]]

## Classification matrix

In [563]:
class_report=mt.classification_report(y_test,predict_op)
print(class_report)

             precision    recall  f1-score   support

          0       0.00      0.00      0.00         1
          1       0.80      1.00      0.89         4

avg / total       0.64      0.80      0.71         5

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# Question 2
# Working on IRIS Dataset

In [0]:
from sklearn import datasets
from sklearn.metrics import classification_report, confusion_matrix

In [0]:
# Loading IRIS dataset
iris = datasets.load_iris()

# Selecting Feature
X = iris.data

# Selecting Target 
y = iris.target

In [0]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=0)

In [0]:
from sklearn.naive_bayes import MultinomialNB, GaussianNB

## Multinomial NB

In [0]:
multinomial_nb=MultinomialNB()

In [569]:
multinomial_nb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
predict_op=multinomial_nb.predict(x_test)

In [571]:
multinomial_nb.score(x_test,y_test)

0.8833333333333333

### Confusion matrix

In [572]:
confusion_matrix(y_test, predict_op)

array([[16,  0,  0],
       [ 0, 16,  7],
       [ 0,  0, 21]])

### Classification report

In [573]:
classification_report=mt.classification_report(y_test,predict_op)
print(classification_report)

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        16
          1       1.00      0.70      0.82        23
          2       0.75      1.00      0.86        21

avg / total       0.91      0.88      0.88        60

## Gaussian NB

In [0]:
gaussian_nb=GaussianNB()

In [575]:
gaussian_nb.fit(x_train, y_train)

GaussianNB(priors=None)

In [0]:
predict_op=gaussian_nb.predict(x_test)

In [577]:
gaussian_nb.score(x_test,y_test)

0.9333333333333333

### Confusion matrix

In [578]:
confusion_matrix(y_test, predict_op)

array([[16,  0,  0],
       [ 0, 23,  0],
       [ 0,  4, 17]])

### Classification report#

In [579]:
classification_report=mt.classification_report(y_test,predict_op)
print(classification_report)

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        16
          1       0.85      1.00      0.92        23
          2       1.00      0.81      0.89        21

avg / total       0.94      0.93      0.93        60